<head>
  <title>WikiEdu – Visualizing Impact</title>

  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600', media: 'all' %>
  <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700', media: 'all' %>

  <%= csrf_meta_tags %>
  <%= vite_client_tag %>
  <%= vite_react_refresh_tag nonce: false %>
  <%= vite_javascript_tag 'index.tsx' %>

  <script type="text/javascript">
    window.app = <%= raw @js_params.deep_transform_keys{|k| k.to_s.camelcase(:lower) }.to_json %>
  </script>

</head>
<body>  
  <div
    id="root"
  ></div>
</body>